
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
background-color: grey;
display: flex;
}

.card{
height: 530px;
width: 280px;
background-color: white;
border-radius: 4px;
border-radius: 7px;
margin: 25px;
box-shadow: 1px 4px 4px;
}
.image{
padding: 10px;
border-radius: 4px;

}
.image img{
padding: 10px;
border-radius: 7px;
box-shadow: 1px 4px 4px;
}
span{
padding-left: 13px;
padding-right: 13px;
color: gray;
border: 1px solid rgba(148, 147, 147, 0.838);
border-radius: 15px;
font-weight: 500;
}
.sp{
padding: 8px 12px;
}
.name{
padding: 10px 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.para p{
padding: 7px 15px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
color: gray;
}
.read{
text-align: center;
padding: 7px 15px;
}
.read button{
padding: 12px 20px;
border-radius: 15px;
font-size: 12px;
background-color: rgb(205, 205, 238);
border: none;
color: rgb(57, 57, 235);
font-weight: 700;
}
button:hover{
background-color:rgb(155, 212, 212);
}

